*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}

button{
    cursor: pointer;
    /* margin-top: 20px; */
    color: #f5f5f5;
    background-color: #4040fb;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
}

button:active{
    transform: scale(.9);
}

.shaka-controls-button-panel{
    justify-content: space-between !important;
}

.shaka-controls-button-panel button:nth-child(1){
    margin-right: auto !important;
}

.shaka-overflow-menu, .shaka-settings-menu{
    border-radius: 10px !important;
    bottom: 70px;
    padding: .8rem !important;
}

@media screen and (min-width: 900px){
    video{
        object-fit: contain !important;
        height: 90vh !important;
    }

}

@media all and (display-mode: fullscreen) {
    video{
        height: 100vh !important;
    }
}

.full-media {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
}

#channel {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 0 0 5px 5px;
    color: #fff;
    z-index: 5;
    text-transform: uppercase;
}

#next-channel {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    border-radius: 0 0 0 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

#prev-channel {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    border-radius: 0 0 5px 0;
    background-color: rgba(0, 0, 0, 0.3);
}

#message-channel {
    position: absolute;
    z-index: 5;
    margin: auto;
    background-color: rgba(255, 0, 0, 0.3);
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: none;
}
